extends layout.pug
block content
    .row.justify-content-center
        .col
            h1.text-center Anonymous Message Board
    hr
    .row.justify-content-center
        .col-12 
            h2.text-bold Boards
        each board in boards
            .col.d-grid.mb-3
                a.btn.btn-outline-light(href=`/b/${board}` title=`Board: ${board}`)= board
        
        if boards.includes("Programming") == false
            .col.d-grid.mb-3
                a.btn.btn-outline-light(href=`/b/Programming` title=`Board: Programming`)= "Programming"
        if boards.includes("Node") == false
            .col.d-grid.mb-3
                a.btn.btn-outline-light(href=`/b/Node` title=`Board: Node`)= "Node"
        if boards.includes("Tech News") == false
            .col.d-grid.mb-3 
                a.btn.btn-outline-light(href=`/b/Tech%20News` title=`Board: Tech News`)= "Tech News"
    hr
    .row.justify-content-center
        .col
            h2.text-bold Test API responses
    .row.justify-content-center 
        .col-md-4.mb-3
            h3 New thread (POST /api/threads/:board)
            form.d-grid#newThread(onsubmit="newThread(event);")
                input.form-control.mb-3(type='text' placeholder='board' id='board1' name='board' required)
                textarea.form-control.mb-3(type='text' placeholder='Thread text...' name='text' required rows="5")
                input.form-control.mb-3(type='password' placeholder='password to delete' name='delete_password' required)
                input.btn.btn-outline-light.btn-block(type="submit" value="Submit")
        .col-md-4.mb-3
            h3 Report thread (PUT /api/threads/:board)
            form.d-grid#reportThread(onsubmit="reportThread(event);")
                input.form-control.mb-3(type='text' placeholder='board' id='board2' name='board' required)
                input.form-control.mb-3(type='text' placeholder='thread id' name='thread_id' required)
                input.btn.btn-outline-light.btn-block(type="submit" value="Submit")
        .col-md-4.mb-3
            h3 Delete thread (DELETE /api/threads/:board)
            form.d-grid#deleteThread(onsubmit="deleteThread(event);")
                input.form-control.mb-3(type='text' placeholder='board' id='board3' name='board' required)
                input.form-control.mb-3(type='text' placeholder='thread id' name='thread_id' required)
                input.form-control.mb-3(type='password' placeholder='password to delete' name='delete_password' required)
                input.btn.btn-outline-light.btn-block(type="submit" value="Submit")
        .col-md-4.mb-3
            h3 New reply (POST /api/replies/:board)
            form.d-grid#newReply(onsubmit="newReply(event);")
                input.form-control.mb-3(type='text' placeholder='board' id='board4' name='board' required)
                input.form-control.mb-3(type='text' placeholder='thread id' name='thread_id' required)
                textarea.form-control.mb-3(type='text' placeholder='Reply text...' name='text' required rows="5")
                input.form-control.mb-3(type='password' placeholder='password to delete' name='delete_password' required)
                input.btn.btn-outline-light.btn-block(type="submit" value="Submit")
        .col-md-4.mb-3
            h3 Report reply (PUT /api/replies/:board)
            form.d-grid#reportReply(onsubmit="reportReply(event);")
                input.form-control.mb-3(type='text' placeholder='board' id='board5' name='board' required)
                input.form-control.mb-3(type='text' placeholder='thread id' name='thread_id' required)
                input.form-control.mb-3(type='text' placeholder='reply message id' name='reply_id' required)
                input.btn.btn-outline-light.btn-block(type="submit" value="Submit")
        .col-md-4.mb-3
            h3 Delete reply (DELETE /api/replies/:board)
            form.d-grid#deleteReply(onsubmit="deleteReply(event);")
                input.form-control.mb-3(type='text' placeholder='board' id='board6' name='board' required)
                input.form-control.mb-3(type='text' placeholder='thread id' name='thread_id' required)
                input.form-control.mb-3(type='text' placeholder='reply message id' name='reply_id' required)
                input.form-control.mb-3(type='password' placeholder='password to delete' name='delete_password' required)
                input.btn.btn-outline-light.btn-block(type="submit" value="Submit")